{{allocated-contract-brief contract=ingredient.assetable allocation=allocation}}

{{#if ingredient.retainer}}
  {{ingredient.retainer.absolutePct}}
{{/if}}

{{#if (or attrs.edit attrs.remove)}}
  <div class="btn-group">
    {{#if attrs.edit}}
      <button type="button" class="action-btn {{if ingredient.retainer.absolutePct "btn__unretain" "btn__retain"}}" {{action attrs.edit ingredient}}></button>
    {{/if}}
    
    {{#if attrs.remove}}
      <button type="button" class="action-btn btn__remove" {{action attrs.remove ingredient}}></button>
    {{/if}}
  </div>
{{/if}}
